<!doctype html>
<html lang="en">
    <head>
			<link rel="stylesheet" href="resources/css/home.css">
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
			<meta name="description" content="">
			<title>Home Page</title>
			<link rel='icon' href='../resources/img/logo.jpg' type='image/x-icon'/>
			<!-- Bootstrap core CSS -->
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
			<img src="../resources/img/weather.jpeg" id = "bg" alt="Background">
			<%- include('../partials/header') %>	
			<%- include('../partials/menu') %>		
    </head> 

	<div class="container">
		<div class="card text-center text-white bg-dark mb-3">
			<div class="card-body mx-auto">
	    	</div>
		</div>
		<!--<div class="card1 text-center text-white bg-white mb-3">
			<div class="card-body mx-auto">
			</div>
		</div>-->
		<!--<div class="card3 text-center text-white bg-dark mb-3">
			<div class="card-body mx-auto">
			</div>
		</div>-->
		<p class="centered">HOW MUCH DO YOU REALLY KNOW ABOUT WEATHER?</p>
		<br>
		<p class="centered2">TAKE OUR QUIZ TO FIND OUT!</p>
		<br>
		<div class="button"><span>Start Quiz</span></div>
            <div class = "row">
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-sm-3">
				  <div class="card2 text-center text-white bg-dark mb-3">
					<div class="card-body">
						<br>
					  <h1 class="card-text">Learn more about weather data</h1>
					  <br>
					  <a href="/lesson" class="button2">Click Here</a>
					</div>
				  </div>
				</div>
				<div class="col-sm-3">
				  <div class="card2 text-center text-white bg-dark">
					<div class="card-body">
						<br>
					  <h1 class="card-text">Learn more about NCAR</h1>
					  <br>
					  <a href="https://ncar.ucar.edu/who-we-are" class="button2">Click Here</a>
					</div>
				  </div>
				</div>
				<div class="col-sm-3">
					<div class="card2 text-center text-white bg-dark">
					  <div class="card-body">
						<br>
						<h1 class="card-text">Find opportunities to work with NCAR</h1>
						<br>
						<a href="https://ncar.ucar.edu/opportunities" class="button2">Click Here</a>
					  </div>
					</div>
				  </div>
				</div>
			</div>
			  
    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	<script src="../resources/js/my_scripts.js"></script>
	</body>
</html>